/*
Browser Prefixes:
moz: Firefox
ms: Internet Explorer
o: Opera
webkit: Safari/Chrome
*/
div#div9{
	height: 100px;
	width: 100px;
	margin: 20px;
	border: 3px solid black;
	background: orange;
}

/*define a change to an element and have it slowly transition
Transition
ease: Increasing Change
ease-in: Increasing at Start
ease-out: Decrease at End
ease-in-out: Increase at Start, Decrease At End
linear: constant change
*/

#div9:hover{
	background: red;
	border-radius: 20px;
	-webkit-transition: 2s ease-in-out;
	-moz-transition: 2s ease-in-out;
	-o-transition: 2s ease-in-out;
	-ms-transition: 2s ease-in-out;

}

